.body
{
    font-family: Arial, serif;
}

.cat-status
{
    margin-top: 30px;
}

.age::before
{
    content: 'Возраст: ';
}

.breed::before
{
    content: 'Порода: ';
}

.diseases::before
{
    content: 'Болезни: ';
}

.cat-status::before
{
    content: 'Статус: ';
}

.cat-name
{
    text-align: center;
}

.cat-card p
{
    font-size: 18px;
}

.cat-card img
{
    width: 250px;
    height: 200px;
}

.cat-card
{
    margin: 30px;
    display: inline-block;
    width: 250px;
    height: 400px;
    border: 1px solid lightgrey;
}
